/* @import url('https://fonts.googleapis.com/css?family=Suranna'); */

@font-face  {
	font-family: 'Suranna';
	src: url('Suranna-Regular.ttf');
}

* {
	font-family: 'Suranna', sans-serif;

	/* vars */
	--my-transition: 300ms cubic-bezier(0.37, 0.26, 0.33, 1.01);
	--my-engraved: 1px 1px 0 #000;
}

#header {
	padding: 1em 0 0;
	margin-bottom: 1em;
	box-shadow: 0 0 20px 0px #c7c7c7;
}

#logo {
	font-size: 4em;
	color: #4c4c4c;
}

#top-navbar {
	padding: 0;
	margin-top: 10px;
	background-color: #4c4c4c;
}

#top-navbar .nav-item {
    padding: 0.5em 3em;
    transition: var(--my-transition);
    border-bottom: 2px solid transparent;
}

#top-navbar .nav-item:hover {
	border-bottom: 2px solid #ececec;
}

#top-navbar .nav-link {
    color: #b1b1b1;
    font-size: 18px;
    text-shadow: var(--my-engraved);
    transition: var(--my-transition);
}

#top-navbar .nav-item:hover > .nav-link {
	color: #bfbfbf;
}

#content {
    background: linear-gradient(white, #cacaca);
    padding: 5em 0;
}

.masonry {
	margin: 0 auto;
}

.masonry-brick {
	width: 360px;
	height: auto;
	margin-bottom: 10px; /* gutter */
}

#footer {
    padding: 2em 0;
    background-color: #1b1b1b;
    box-shadow: 0 0 20px 0px #525252;
}

#logo-footer {
    font-size: 2.4em;
    color: #6d6d6d;
    text-shadow: var(--my-engraved);
}

#copyright {
    color: #444444;
    text-shadow: var(--my-engraved);
}

#social-links {
    color: #777;
    text-align: right;
    text-shadow: var(--my-engraved);
}